/.github/**    @jackhac
**/Dockerfile  @jackhac
**/MANIFESTS   @jackhac
**/TARGETS     @jackhac
**/VARIANTS    @jackhac
/.vscode/**    @jackhac
**.flake8      @jackhac
**.gitignore   @jackhac
**.yamllint    @jackhac
**.json        @jackhac
**.md          @jackhac
**.sh          @jackhac
**.yaml        @jackhac
