/.github/**    @nopcorn
**/Dockerfile  @nopcorn
**/MANIFESTS   @nopcorn
**/TARGETS     @nopcorn
**/VARIANTS    @nopcorn
/.vscode/**    @nopcorn
**.flake8      @nopcorn
**.gitignore   @nopcorn
**.yamllint    @nopcorn
**.json        @nopcorn
**.md          @nopcorn
**.sh          @nopcorn
**.yaml        @nopcorn
